li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: inherit;
}

*{
    font-family: 'Gilda Display', serif;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    
}

