header {
    width: 100%;
    max-width: 1440px;
    height: 40%;
    background-image: url(http://127.0.0.1:5500/assets/img/Header-Area.png);
    position: relative;
    padding-bottom: 90px;

    .title {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logoMenu {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 50px;


            .menu {
                display: flex;
                gap: 20px;
                color: #fff;
                font-size: 10px;
                border: 0.97px solid;
                border-image-source: linear-gradient(169.15deg, rgba(15, 247, 240, 0.4) 0%, rgba(214, 134, 255, 0.4) 96.79%);
                background: linear-gradient(169.15deg, rgba(58, 59, 59, 0.062) 0%, rgba(145, 133, 151, 0) 96.79%),
                    linear-gradient(0deg, rgba(255, 255, 255, 0.16), rgba(255, 252, 252, 0.356));
                padding: 10px;
                border-radius: 8px;

                .language {
                    .languageIcon {
                        .lang {
                            color: #fff;
                            font-size: 11px;
                            border: none;
                            background: none;
                        }
                    }

                    .lang_list {
                        display: none;
                        position: absolute;
                        flex-direction: column;
                        border: 0.97px solid;
                        border-image-source: linear-gradient(169.15deg, rgba(15, 247, 240, 0.4) 0%, rgba(214, 134, 255, 0.4) 96.79%);
                        background: linear-gradient(169.15deg, rgba(58, 59, 59, 0.062) 0%, rgba(145, 133, 151, 0) 96.79%),
                            linear-gradient(0deg, rgba(255, 255, 255, 0.16), rgba(255, 252, 252, 0.356));
                        padding: 20px 22px 12px 22px;
                        margin: 0 20px;
                        border-radius: 8px;

                        #btnLang {
                            display: flex;
                            flex-direction: column;
                            border: none;
                            padding-bottom: 8px;
                            background: none;
                            color: #fff;
                        }
                    }


                }
            }


        }

        .list {
            display: flex;
            gap: 20px;
            color: #fff;
            font-size: 12px;

            #same {
                border: 0.97px solid;
                border-image-source: linear-gradient(169.15deg, rgba(15, 247, 240, 0.4) 0%, rgba(214, 134, 255, 0.4) 96.79%);
                background: linear-gradient(169.15deg, rgba(58, 59, 59, 0.062) 0%, rgba(145, 133, 151, 0) 96.79%),
                    linear-gradient(0deg, rgba(255, 255, 255, 0.16), rgba(255, 252, 252, 0.356));
                padding: 10px 15px;
                border-radius: 8px;
            }

            .sing_in {
                background: none;
                border: none;
                color: #fff;
            }

            .watchlist {
                .watchListBtn {
                    border: 0.97px solid;
                    border-image-source: linear-gradient(169.15deg, rgba(15, 247, 240, 0.4) 0%, rgba(214, 134, 255, 0.4) 96.79%);
                    background: linear-gradient(169.15deg, rgba(58, 59, 59, 0.062) 0%, rgba(145, 133, 151, 0) 96.79%),
                        linear-gradient(0deg, rgba(255, 255, 255, 0.16), rgba(255, 252, 252, 0.356));
                    padding: 10px 15px;
                    border-radius: 8px;
                }}
        }

        .menuIcon {

            // display: none;
            .btnMenu {
                border: none;
                color: #fff;
                font-size: 15px;
                background: none;
            }
        }

    }

    .volume {
        display: flex;
        justify-content: flex-end;
        padding-top: 50px;

        img {
            width: 3%;
        }
    }

}



@media only screen and (max-width: 768px) {
    header {
        .container {
            padding: 20px;

            .title {
                .logoMenu {
                    .menu {
                        display: none;
                    }
                }

                .menuIcon {
                    display: block !important;
                }

                .list {
                    display: none;
                }


            }
        }

    }
}


@media only screen and (max-width: 1440px) {
    header {
        .container {
            .title {
                .menuIcon {
                    display: none;

                }



            }
        }

    }
}